@font-face {
  font-family: "DM Sans";
  src: local("DM Sans Regular"), local("DMSans-Regular"), url("./fonts/DMSans-Regular.woff2") format("woff2"), url("./fonts/DMSans-Regular.woff") format("woff"), url("./fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans Bold"), local("DMSans-Bold"), url("./fonts/DMSans-Bold.woff2") format("woff2"), url("./fonts/DMSans-Bold.woff") format("woff"), url("./fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("./fonts/Roboto-Black.woff2") format("woff2"), url("./fonts/Roboto-Black.woff") format("woff"), url("./fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: "DM Sans", "Roboto", sans-serif;
  color: #ffffff;
  background: linear-gradient(180deg, #010a20 0%, rgba(1, 10, 32, 0) 100%);
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all ease;
  color: #fff;
}

a:hover {
  text-shadow: 2px 2px 5px #1e0808;
}

svg,
path {
  width: 40px;
  height: 40px;
}

header,
main,
footer {
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 80px;
  background: #dd2242;
  border-radius: 210px;
  font-weight: 700;
  font-size: 1.25em;
  color: #fff;
  border: 0;
  transition: 0.5s all ease;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 1px 1px 5px #000;
}

.title {
  font-weight: 700;
  font-size: 4em;
  line-height: 50px;
  text-align: center;
  color: #010a20;
  padding: 120px 60px 60px;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
  padding-left: 50px;
  height: 100px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.logo {
  width: 150px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 0.3px;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 23px;
}

.footer {
  background: #010a20;
  height: 135px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
}
.footer .logoFooter {
  text-transform: uppercase;
  color: #dd2242;
}
.footer .navFooter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.footer .social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.footer a:hover {
  text-shadow: 2px 2px 2px #887f7f;
}

.mainScreen {
  background-image: url(./img/mainScreen.jpg);
  max-width: 1920px;
  height: 1080px;
  position: relative;
  bottom: 100px;
}
.mainScreen__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 7.5em;
  line-height: 130px;
  text-transform: uppercase;
  padding: 13% 0 0 8%;
  width: 10%;
}
.mainScreen__mainLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  position: absolute;
  bottom: 44px;
  height: 210px;
}
.mainScreen .btn {
  margin: 50px 8%;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.6);
  height: 210px;
  width: 60%;
  padding: 0 70px;
  margin-bottom: 4px;
  align-self: flex-end;
}
.list__block {
  flex-basis: 25%;
  font-size: 1.125em;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.list__block-red {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 28px;
  text-transform: uppercase;
  color: #dd2242;
}
.list__block-title {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 40px;
  color: #ffffff;
}

.about {
  margin-top: -100px;
}
.about .title {
  color: #fff;
}
.about-bg {
  background: linear-gradient(180deg, #010a20, rgb(1, 10, 32) 100%);
}

.cardCountry {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 0 auto;
  height: 775px;
  padding-left: 20%;
  padding-right: 10%;
}
.cardCountry:first-of-type {
  background-image: url(./img/about2.jpg);
  background-repeat: no-repeat;
  color: #0e0e0e;
}
.cardCountry:nth-of-type(2) {
  background-image: url(./img/about.jpg);
  background-repeat: no-repeat;
  color: #e0e0e0;
}
.cardCountry__img {
  border-radius: 15px;
}
.cardCountry__text {
  font-size: 1.125em;
  line-height: 28px;
  letter-spacing: 0.01em;
  width: 40%;
}
.cardCountry__text-title {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 50px;
  margin-bottom: 30px;
}

.destinations {
  max-width: 1920px;
  height: 2200px;
  background: url(./img/destinations.jpg);
  position: relative;
}
.destinations img {
  border-radius: 15px;
}

.slider {
  margin: 50px auto;
  max-width: 1380px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.sliderBlock {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.sliderBlock__photo {
  max-width: 405px;
  max-height: 257px;
}

.arrow {
  cursor: pointer;
  transition: 0.5s all ease;
}
.arrow:hover {
  box-shadow: 1px 1px 5px #000;
}

.numbers {
  width: 100%;
  height: 800px;
  background: #020c21;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  color: #e0e0e0;
  font-size: 1.125em;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
}
.numbers__desc {
  margin: 40px auto;
  max-width: 400px;
}
.numbers__title {
  color: #fff;
}
.numbers__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
}
.numbers__info {
  max-width: 350px;
}
.numbers__info-red {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 49px;
  letter-spacing: 0.4px;
  color: #dd2242;
}

.experience {
  background-image: url(./img/info.jpg);
  height: 820px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.experience__title {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 50px;
  max-width: 30%;
  padding: 0;
}
.experience__text {
  max-width: 20%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #6f7787;
}

.country {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/country.jpg);
  height: 1470px;
}
.country img {
  border-radius: 15px;
}
.country__title {
  color: #fff;
  line-height: 75px;
}
.country__photo {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}

.inThe {
  margin-top: 125px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 75px;
  justify-content: center;
  font-size: 1.125em;
}
.inThe__block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  flex-basis: 30%;
}
.inThe__text {
  flex-basis: 50%;
  line-height: 28px;
  letter-spacing: 0.5px;
  flex-basis: 50%;
}
.inThe__text-boldText {
  font-weight: 700;
  margin-bottom: 15px;
}

.gallery {
  background: #ffffff;
}
.gallery__text {
  font-size: 1.125em;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #6f7787;
  margin: 0 auto;
  max-width: 50%;
}

.gallerys {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

.galleryCountry {
  margin: 50px auto;
  display: grid;
  max-width: 1150px;
  gap: 30px;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(4, minmax(100px, 210px));
}
.galleryCountry img {
  border-radius: 15px;
}

.gallery1 {
  grid-column: 1/1;
  grid-row: 1/3;
}

.gallery2 {
  grid-column: 2/2;
  grid-row: 1/1;
}

.gallery3 {
  grid-column: 3/3;
  grid-row: 1/2;
}

.gallery4 {
  grid-column: 1/1;
  grid-row: 4/4;
  margin-top: -160px;
}

.gallery5 {
  grid-column: 2/2;
  grid-row: 2/4;
}

.gallery6 {
  grid-column: 3/3;
  grid-row: 3/4;
  margin-top: -77px;
}

.how {
  background: #dce8f2;
  padding-bottom: 120px;
}

.howList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 95px;
  max-width: 1100px;
  margin: 0 auto;
  counter-reset: my-counter;
}
.howList__item {
  font-size: 1.5em;
  line-height: 38px;
  color: rgba(21, 20, 57, 0.4);
  display: contents;
}
.howList__item::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  width: 60px;
  height: 60px;
  background: #dd2242;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2em;
}
.howList__item-titleText {
  font-weight: 700;
  font-size: 1.8em;
  line-height: 40px;
  color: #010a20;
  margin-left: -40px;
}
.howList__item-mainText {
  margin-top: -70px;
}

.paginator__ellipse {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
}

.ellipse-choose {
  background-color: #ff6a9f;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  animation: color 0.5s ease;
}
.modal__content {
  background-color: #e0e0e0;
  padding: 50px;
  width: 30%;
  height: -moz-min-content;
  height: min-content;
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.modal__content-title {
  color: #0e0e0e;
}

@keyframes color {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.close {
  color: rgb(8, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 25px;
}

.forma {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
  margin-top: 30px;
}
.forma__input {
  background-color: #e0e0e0;
  border: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 40px;
  padding: 10px;
}
.forma .btn {
  text-align: center;
  height: 60px;
}

.scroll {
  display: none;
  background: #dd2242;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
  position: fixed;
  bottom: 100px;
  right: 100px;
}
.scroll svg {
  fill: #fff;
}
.scroll:hover {
  box-shadow: 2px 2px 5px #1e0808;
}

.open {
  display: flex;
}

@media only screen and (max-width: 376px) {
  .nav {
    display: none;
  }
  .mobileMenu__burger {
    width: 24px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    margin: 6px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */