@font-face {
  font-family: "DM Sans";
  src: local("DM Sans Regular"), local("DMSans-Regular"), url("./fonts/DMSans-Regular.woff2") format("woff2"), url("./fonts/DMSans-Regular.woff") format("woff"), url("./fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans Bold"), local("DMSans-Bold"), url("./fonts/DMSans-Bold.woff2") format("woff2"), url("./fonts/DMSans-Bold.woff") format("woff"), url("./fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("./fonts/Roboto-Black.woff2") format("woff2"), url("./fonts/Roboto-Black.woff") format("woff"), url("./fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: "DM Sans", "Roboto", sans-serif;
  color: #ffffff;
  background: linear-gradient(180deg, #010a20 0%, rgba(1, 10, 32, 0) 100%);
  width: 100vw;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  scroll-behavior: auto;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all ease;
  color: #fff;
}

a:hover {
  text-shadow: 2px 2px 5px #1e0808;
}

svg,
path {
  width: 40px;
  height: 40px;
}

header,
main,
footer {
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 80px;
  background: #dd2242;
  border-radius: 210px;
  font-weight: 700;
  font-size: 1.25em;
  color: #fff;
  border: 0;
  transition: 0.5s all ease;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 1px 1px 5px #000;
}

.title {
  font-weight: 700;
  font-size: calc(1.5rem + 3vw);
  line-height: 50px;
  text-align: center;
  color: #010a20;
  padding: 120px 60px 60px;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
  flex-wrap: nowrap;
  padding: 0 50px;
  justify-content: space-around;
  height: 100px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.logo {
  width: 100px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 0.3px;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 5px;
}

.footer {
  background: #010a20;
  height: 135px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
}
.footer .logoFooter {
  text-transform: uppercase;
  color: #dd2242;
}
.footer .navFooter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.footer .social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.footer a:hover {
  text-shadow: 2px 2px 2px #887f7f;
}

.mainScreen {
  background-size: cover;
  max-width: 1920px;
  height: 1080px;
  position: relative;
  bottom: 100px;
  transition: 0.8s all ease;
}
.mainScreen__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: calc(1.5rem + 6vw);
  line-height: 110px;
  text-transform: uppercase;
  padding: 15% 0 0 8%;
  width: 10%;
}
.mainScreen__mainLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  position: absolute;
  bottom: 44px;
  height: 210px;
}
.mainScreen .btn {
  margin: 50px 8%;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.6);
  height: 210px;
  width: 60%;
  padding: 0 30px;
  margin-bottom: 4px;
  align-self: flex-end;
}
.list__block {
  flex-basis: 30%;
  font-size: 1.125em;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.list__block-red {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 28px;
  text-transform: uppercase;
  color: #dd2242;
}
.list__block-title {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 40px;
  color: #ffffff;
}

.about {
  margin-top: -100px;
}
.about .title {
  color: #fff;
}
.about-bg {
  background: linear-gradient(180deg, #010a20, rgb(1, 10, 32) 100%);
}

.cardCountry {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  height: 775px;
}
.cardCountry:first-of-type {
  background-image: url(./img/about2.jpg);
  background-repeat: no-repeat;
  color: #0e0e0e;
}
.cardCountry:nth-of-type(2) {
  background-image: url(./img/about.jpg);
  background-repeat: no-repeat;
  color: #e0e0e0;
}
.cardCountry__img {
  width: 50%;
  border-radius: 15px;
  max-width: 630px;
  max-height: 460px;
  min-width: 315px;
  min-height: 230px;
}
.cardCountry__text {
  font-size: 1.125em;
  line-height: 28px;
  letter-spacing: 0.01em;
  width: 40%;
}
.cardCountry__text-title {
  font-weight: 700;
  font-size: calc(1.5rem + 1vw);
  line-height: 40px;
  margin-bottom: 30px;
}

.destinations {
  max-width: 1920px;
  width: 100vw;
  height: 2200px;
  background: url(./img/destinations.jpg);
  background-size: cover;
  position: relative;
}
.destinations img {
  border-radius: 15px;
}

.slider {
  margin: 50px auto;
  max-width: 1375px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-wrap: nowrap;
}

.sliderContainer {
  overflow: hidden;
  position: relative;
}

.sliderBlock {
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-wrap: nowrap;
  position: relative;
  left: 0;
}

.arrow {
  cursor: pointer;
  transition: 0.5s all ease;
  min-width: 30px;
  min-height: 30px;
}
.arrow:hover {
  box-shadow: 1px 1px 5px #000;
}
.arrow path {
  min-width: 40px;
  min-height: 40px;
}

.numbers {
  width: 100%;
  background: #020c21;
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  color: #e0e0e0;
  font-size: 1.125em;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
}
.numbers__desc {
  margin: 40px auto;
  max-width: 400px;
}
.numbers__title {
  color: #fff;
}
.numbers__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
  padding-bottom: 50px;
}
.numbers__info {
  max-width: 350px;
}
.numbers__info-red {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 49px;
  letter-spacing: 0.4px;
  color: #dd2242;
}

.experience {
  background-image: url(./img/info.jpg);
  flex-wrap: nowrap;
  height: 665px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.experience__title {
  line-height: 75px;
  max-width: 50%;
  padding: 0;
}
.experience__text {
  max-width: 60%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #6f7787;
}

.country {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/country.jpg);
  padding-bottom: 10px;
}
.country img {
  border-radius: 15px;
}
.country__title {
  color: #fff;
  line-height: 75px;
}
.country__photo {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.inThe {
  margin: 50px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  font-size: 1.125em;
}
.inThe__block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  flex-basis: 30%;
  flex-direction: column;
}
.inThe__text {
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
}
.inThe__text-boldText {
  font-weight: 700;
  margin-bottom: 15px;
}

.gallery {
  background: #ffffff;
}
.gallery__text {
  font-size: 1.125em;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #6f7787;
  margin: 0 auto;
  max-width: 50%;
}

.galleryCountry {
  margin: 50px auto 0;
  display: grid;
  max-width: 1150px;
  gap: 30px;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(4, minmax(100px, 210px));
}
.galleryCountry img {
  border-radius: 15px;
}

.gallery1 {
  grid-column: 1/1;
  grid-row: 1/3;
}

.gallery2 {
  grid-column: 2/2;
  grid-row: 1/1;
}

.gallery3 {
  grid-column: 3/3;
  grid-row: 1/2;
}

.gallery4 {
  grid-column: 1/1;
  grid-row: 4/4;
  margin-top: -160px;
}

.gallery5 {
  grid-column: 2/2;
  grid-row: 2/4;
}

.gallery6 {
  grid-column: 3/3;
  grid-row: 3/4;
  margin-top: -77px;
}

.how {
  background: #dce8f2;
  padding-bottom: 120px;
}

.howList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 95px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  counter-reset: my-counter;
}
.howList__item {
  font-size: 1.5em;
  line-height: 38px;
  color: rgba(21, 20, 57, 0.4);
  display: contents;
}
.howList__item::before {
  content: counter(my-counter);
  counter-increment: my-counter;
  width: 60px;
  height: 60px;
  background: #dd2242;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2em;
}
.howList__item-titleText {
  font-weight: 700;
  font-size: calc(1rem + 2vw);
  line-height: 40px;
  color: #010a20;
  margin-left: -40px;
}
.howList__item-mainText {
  margin-top: -70px;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  animation: color 0.5s ease;
}
.modal__content {
  background-color: #e0e0e0;
  padding: 50px;
  width: 400px;
  height: -moz-min-content;
  height: min-content;
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.modal__content-title {
  color: #0e0e0e;
}

@keyframes color {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.close {
  color: rgb(8, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 25px;
}

.forma {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
  margin-top: 30px;
}
.forma__input {
  background-color: #e0e0e0;
  border: 0;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 40px;
  padding: 10px;
}
.forma__input::-moz-placeholder {
  background-color: #e0e0e0;
}
.forma__input::placeholder {
  background-color: #e0e0e0;
}
.forma__input:focus {
  outline: none;
}
.forma .btn {
  text-align: center;
  height: 60px;
}

.scroll {
  display: none;
  background: #dd2242;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all ease;
  position: fixed;
  bottom: 100px;
  right: 100px;
}
.scroll svg {
  fill: #fff;
}
.scroll:hover {
  box-shadow: 2px 2px 5px #1e0808;
}

.open {
  display: flex;
}

@media (max-width: 1750px) {
  .destinations {
    height: 1800px;
  }
}
@media (max-width: 1500px) {
  .slider {
    max-width: 950px;
  }
  .destinations {
    height: 1680px;
  }
}
@media (max-width: 1400px) {
  .mainScreen {
    height: 850px;
  }
  .cardCountry {
    gap: 50px;
  }
}
@media (max-width: 1250px) {
  .nav {
    gap: 15px;
    justify-content: space-around;
  }
  .title {
    padding: 40px 20px 20px;
  }
  .mainScreen__mainLine {
    bottom: 0;
  }
  .cardCountry {
    height: 500px;
  }
  .experience {
    height: 600px;
  }
  .video {
    display: none;
  }
  .list {
    width: 100%;
  }
  .numbers__container {
    gap: 30px;
  }
  .galleryCountry {
    grid-template-columns: repeat(2, 370px);
    grid-template-rows: repeat(6, minmax(100px, 210px));
    justify-content: center;
    gap: 30px;
    margin-bottom: -160px;
  }
  .gallery3 {
    grid-column: 1/1;
    grid-row: 5/6;
    margin-top: -160px;
  }
  .gallery6 {
    grid-column: 2/2;
    grid-row: 5/6;
    margin-top: -160px;
  }
}
@media (max-width: 900px) {
  .mainScreen {
    height: 700px;
  }
  .mainScreen__title {
    width: 90%;
    padding-top: 25%;
    line-height: 60px;
  }
  .slider {
    max-width: 510px;
  }
  .destinations img {
    margin-right: -20px;
  }
  .btn {
    height: 60px;
  }
}
@media (max-width: 800px) {
  .destinations {
    height: 1350px;
  }
  .numbers__container {
    margin-top: 20px;
  }
  .galleryCountry {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(6, minmax(100px, 160px));
  }
  .galleryCountry img {
    width: 90%;
  }
  .howList {
    gap: 75px;
  }
  .cardCountry {
    gap: 0;
  }
  .cardCountry__text {
    width: 80%;
  }
  .cardCountry__text-title {
    margin: 0;
  }
  .footer {
    height: auto;
    padding: 20px;
  }
  .footer .navFooter {
    flex-direction: column;
    gap: 0;
  }
  .scroll {
    right: 20px;
  }
}
@media (max-width: 700px) {
  .header {
    padding: 0;
  }
  .title {
    padding: 10px;
  }
  .list__block-red {
    font-weight: 400;
  }
  .experience {
    flex-wrap: nowrap;
  }
  .experience__title {
    max-width: 90%;
    line-height: 40px;
  }
  .country__title {
    line-height: 40px;
  }
  .experience__text,
  .gallery__text,
  .numbers__desc,
  .numbers__info {
    max-width: 90%;
  }
  .destinations {
    height: 1210px;
  }
  .nav {
    display: none;
  }
  .nav.open {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    position: absolute;
    top: 70px;
    right: 0;
    text-align: center;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .nav.open li {
    border-bottom: 1px solid #dce8f2;
    padding: 15px;
    width: 100%;
  }
  .nav.open li:first-of-type {
    padding-top: 32px;
  }
  .logo {
    display: none;
  }
  .mobileMenu {
    position: relative;
    left: 40px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    flex-direction: column;
  }
  .mobileMenu__burger {
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  .mobileMenu.active .mobileMenu__burger:nth-of-type(1) {
    display: none;
  }
  .mobileMenu.active .mobileMenu__burger:nth-of-type(2) {
    transform: rotate(45deg);
  }
  .mobileMenu.active .mobileMenu__burger:nth-of-type(3) {
    transform: rotate(-45deg);
    margin-top: -12px;
  }
}
@media (max-width: 600px) {
  .mainScreen__mainLine {
    bottom: 4%;
  }
  .mainScreen .btn {
    margin: 10px 8%;
  }
  .list {
    height: 240px;
  }
  .gallery {
    margin-bottom: -240px;
  }
  .galleryCountry {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(6, minmax(50px, 120px));
  }
  .gallery5 {
    margin-top: -35px;
  }
  .gallery4 {
    margin-top: -180px;
  }
  .gallery3,
  .gallery6 {
    margin-top: -210px;
  }
  .galleryCountry {
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(6, minmax(50px, 120px));
    margin-left: 20px;
    gap: 30px 0;
  }
}
@media (max-width: 500px) {
  .mainScreen__mainLine {
    bottom: 15%;
  }
  .list {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 310px;
  }
  .list__block-title {
    font-size: 1.2em;
    line-height: 30px;
  }
  .list__block-red {
    font-size: 1em;
    line-height: 24px;
  }
  .howList {
    gap: 70px;
  }
  .inThe__block {
    flex-basis: 90%;
  }
  .country__title {
    line-height: 50px;
  }
}
@media (max-width: 480px) {
  .howList__item::before {
    width: 30px;
    height: 30px;
    font-size: 0.8em;
  }
  .howList__item {
    font-size: 1.2em;
    line-height: 35px;
  }
  .galleryCountry {
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(6, minmax(50px, 110px));
  }
  .modal__content {
    width: 90%;
    padding: 35px;
  }
}/*# sourceMappingURL=style.css.map */