@font-face {
  font-family: "DM Sans";
  src: local("DM Sans Regular"), local("DMSans-Regular"), url("/fonts/DMSans-Regular.woff2") format("woff2"), url("/fonts/DMSans-Regular.woff") format("woff"), url("/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans Bold"), local("DMSans-Bold"), url("/fonts/DMSans-Bold.woff2") format("woff2"), url("/fonts/DMSans-Bold.woff") format("woff"), url("/fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("/fonts/Roboto-Black.woff2") format("woff2"), url("/fonts/Roboto-Black.woff") format("woff"), url("/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: "DM Sans", "Roboto", sans-serif;
  color: #ffffff;
  background: linear-gradient(180deg, #010a20 0%, rgba(1, 10, 32, 0) 100%);
}

li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s all ease;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

header,
main,
footer {
  max-width: 1920px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 80px;
  background: #dd2242;
  border-radius: 210px;
  font-weight: 700;
  font-size: 1.25em;
  color: #fff;
  border: 0;
  transition: 0.5s all ease;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 1px 1px 5px #000;
}

.title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4em;
  line-height: 150%;
  text-align: center;
  color: #010a20;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10%;
  padding-left: 50px;
  height: 100px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.logo {
  width: 150px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 0.3px;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 23px;
}

.footer {
  background: #010a20;
  height: 135px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-evenly;
}
.footer .logoFooter {
  text-transform: uppercase;
  color: #dd2242;
}
.footer .navFooter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.footer .social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.mainScreen {
  background-image: url(./img/mainScreen.jpg);
  max-width: 1920px;
  height: 1080px;
  position: relative;
  bottom: 100px;
}
.mainScreen__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 7.5em;
  line-height: 130px;
  text-transform: uppercase;
  padding: 13% 0 0 8%;
  width: 10%;
}
.mainScreen__mainLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  position: absolute;
  bottom: 44px;
  height: 210px;
}
.mainScreen .btn {
  margin: 50px 8%;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.6);
  height: 210px;
  width: 60%;
  padding: 0 70px;
  margin-bottom: 4px;
  align-self: flex-end;
}
.list__block {
  flex-basis: 25%;
  font-size: 1.125em;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.list__block-red {
  font-weight: 900;
  font-size: 1em;
  line-height: 19px;
  text-transform: uppercase;
  color: #dd2242;
}
.list__block-title {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 40px;
  color: #ffffff;
}

.about {
  margin-top: -100px;
}
.about .title {
  color: #fff;
}
.about-bg {
  background: linear-gradient(180deg, #010a20, rgb(1, 10, 32) 100%);
}

.cardCountry {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 0 auto;
  height: 775px;
  padding-left: 20%;
  padding-right: 10%;
}
.cardCountry:first-of-type {
  background-image: url(./img/about2.jpg);
  background-repeat: no-repeat;
  color: #0e0e0e;
}
.cardCountry:nth-of-type(2) {
  background-image: url(./img/about.jpg);
  background-repeat: no-repeat;
  color: #e0e0e0;
}
.cardCountry__img {
  border-radius: 15px;
}
.cardCountry__text {
  font-size: 1.125em;
  line-height: 28px;
  letter-spacing: 0.01em;
  width: 40%;
}
.cardCountry__text-title {
  font-weight: 700;
  font-size: 2.5em;
  line-height: 50px;
}

.destinations {
  max-width: 1920px;
  height: 2200px;
  background: url(./img/destinations.jpg);
}
.destinations .title {
  padding-top: 120px;
}
.destinations img {
  border-radius: 15px;
}

.slider {
  margin: 50px auto;
  width: 1300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.sliderBlock {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.numbers {
  height: 800px;
  background: #020C21;
  opacity: 0.9;
  width: 100%;
  margin-top: 880px;
}

.paginator__ellipse {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
}

.ellipse-choose {
  background-color: #ff6a9f;
}

.modal {
  display: none;
  background-color: #e0e0e0;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 400px;
  height: 150px;
  border-radius: 20px;
  text-align: center;
}

.modal__content {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.close {
  color: rgb(8, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.scroll {
  display: none;
}

@media only screen and (max-width: 376px) {
  .nav {
    display: none;
  }
  .mobileMenu__burger {
    width: 24px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    margin: 6px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */